@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - FrontEnd - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>