@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var session in Model.Sessions)
        {
            <li>
                @session.Title <a asp-page="Edit">Edit</a>
            </li>
        }
    </ul>
</div>
