@page
@model MyAgendaModel
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertPartial" model="(Model.ShowMessage, Model.Message)" />

<h1 class="mb-4">My Agenda - My Conference @System.DateTime.Now.Year</h1>

<partial name="_AgendaPartial" model="Model" />