@page "{id}"
@model SpeakerModel

<h2>@Model.Speaker.Name</h2>

<p>@Model.Speaker.Bio</p>

<ul>
    @foreach(var session in Model.Speaker.Sessions)
    {
        <li><a asp-page="Session" asp-route-id="@session.ID">@session.Title</a></li>
    }
</ul>